# Supabase
NEXT_PUBLIC_SUPABASE_URL=supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key

PROJECT_NAME=project_name
DATABASE_PPASSWORD=project_password

ZCASH_NETWORK=network
ZCASH_RPC_URL=zcash_rpc_url
ZCASH_RPC_USER=your-rpc-user
ZCASH_RPC_PASS=your-rpc-password
